<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="is-preload">

    <div id="wrapper">

      {%- include header.html -%}

      <div id="main">
        {% for image in site.images %}
        <article class="thumb">
          <a href="{{ site.baseurl }}/assets/vids/fulls/{{ image.path | split: '/' | last | split: '.' | first }}.mp4" data-poptrox="ignore">
            <video muted autoplay playsinline loop width="100%">
              <source src="{{ site.baseurl }}/assets/vids/thumbs/{{ image.path | split: '/' | last | split: '.' | first }}_scaled.mp4" type="video/mp4">
            </video>
            <!---<img src="{{ site.baseurl }}/assets/vids/thumbs/{{ image.path | split: '/' | last | split: '.' | first }}_scaled.png" alt="{{ image.title }}" />--->
          </a>
          <h2>{{ image.title }}</h2>
          <p>{{ image.caption }}</p>
        </article>
        {% endfor %}

        <!-- no idea where to put this... -->
        <!-- {{ content }} -->
      </div>

      {%- include footer.html -%}

    </div>

    <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/jquery.poptrox.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>

  </body>

</html>
