<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body class="is-preload">

  <div id="wrapper">

    <span class="loading-text">Loading {{ site.slides.size }} videos ... have a sip of café</span>

    {%- include header.html -%}

    <div id="main">
      {% for slide in site.slides %}
      <article class="thumb">
        <a href="{{ slide.yt-url }}" data-poptrox="youtube, 1280x720">
          <video muted playsinline loop preload="auto" width="100%" poster="{{ site.baseurl }}/{{ slide.path-poster }}">
            <source src="{{ site.baseurl }}/{{ slide.path-vid }}" type="video/mp4">
          </video>
        </a>
        <h2>{{ slide.title }}</h2>
        <p>{{ slide.caption }}</p>
      </article>
      {% endfor %}

    </div>

    {%- include footer.html -%}

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script> -->
  <script src="{{ 'assets/js/jquery.poptrox.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/isInViewport.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/jquery.visible.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/main.js' | relative_url }}"></script>

</body>

</html>
