<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="is-preload">

    <div id="wrapper">

      {%- include header.html -%}

      <div id="main">
        {% for image in site.images %}
        <article class="thumb">
          <a href="{{ image.yt-url }}" data-poptrox="youtube, 1280x720">
            <video id="thumbVid" muted autoplay playsinline loop width="100%">
              <source src="{{ site.baseurl }}/{{ image.path-thumb }}" type="video/mp4">
            </video>
          </a>
          <h2>{{ image.title }}</h2>
          <p>{{ image.caption }}</p>
        </article>
        {% endfor %}

        <!-- no idea where to put this... -->
        <!-- {{ content }} -->
      </div>

      {%- include footer.html -%}

    </div>

    <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/jquery.poptrox.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/isInViewport.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/jquery.visible.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
    <script src="{{ 'assets/js/main.js' | relative_url }}"></script>

  </body>

</html>
